<footer class="footer">
    <div class="container flex justify-between align-start gap-5 mx-auto">
        <div class="footer-left">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'image' %}
                        {% if block.settings.image %}
                            {{ block.settings.image | image_url: width: 140 | image_tag: class: 'logo' }}
                        {% else %}
                            {{ 'image' |  placeholder_svg_tag: 'footer-placeholder-img' }}
                        {% endif %}
                        
                    {% when 'text' %}
                        <div>{{ block.settings.text }}</div>
                        
                {% endcase %}
            {% endfor %}
        </div>
        <div class="footer-center">
            <nav class="navigation">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'menu' %}
                            <div class="flex flex-col gap-y-5">
                                <div>
                                    <span class="text-lg font-bold">{{ block.settings.title }}</span>
                                </div>
                                <ul>
                                    {% for link in block.settings.footer_link_list.links %}
                                        <li>
                                            <a href="{{ link.url }}">{{ link.title }}</a>
                                        </li>
                                    {% else %}
                                        <span>It appears that there is no link in the linklist</span>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        {% else %}
                            
                    {% endcase %}
                {% endfor %}
            </nav>
            
        </div>
        <div class="footer-right">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'newsletter_form' %}
                        <div>
                            {% form 'customer' %}
                                {{ form.errors | default_errors }}
                                {% if form.posted_successfully? %}
                                  <p>Confirmation</p>
                                {% else %}
                                  <input type="hidden" name="contact[tags]" value="newsletter">
                                  <input type="email"
                                    name="contact[email]"
                                    id="Email"
                                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                                    placeholder="Enter your email"
                                    autocorrect="off"
                                    autocapitalize="off">
                                  <button type="submit" name="commit" id="Subscribe">
                                    <span>Subscribe</span>
                                  </button>
                                {% endif %}
                              {% endform %}
                        </div>
                    {% else %}
                        
                {% endcase %}
            {% endfor %}
        </div>
    </div>
    
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "This is for uploading image in the footer"
                }
            ]

        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "default": "Lorem ipsum",
                    "id": "text",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "menu",
            "name": "Linklist/Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "default": "Menu title",
                    "label": "Title"
                },
                {
                    "type": "link_list",
                    "id": "footer_link_list",
                    "default": "footer",
                    "label": "Linklist"
                }
            ]
        },
        {
            "type": "newsletter_form",
            "name": "Newsletter form",
            "settings": []
        }
    ]
}
{% endschema %}